<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body style="margin: 0; background-color: seashell">
        <div
            style="
                background-color: black;
                position: fixed;
                height: 50px;
                width: 100%;
                padding: 0 20%;
                display: flex;
                align-items: center;
            "
        >
            <span style="color: #fff; font-size: 20px">ATN SHOP</span>
        </div>
        <div
            style="
                position: absolute;
                left: 0;
                right: 0;
                top: 60px;
                padding: 10px 20%;
            "
        >
            <h1 style="font-size: 25px; text-align: center">Table products</h1>
            <table class="ta">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if(toys != null) { %> <% toys.forEach(function(toy) { %>
                    <tr>
                        <td><input placeholder="<%= toy._id %>" /></td>
                        <td><input placeholder="<%= toy.name %>" /></td>
                        <td><input placeholder="<%= toy.price %>" /></td>
                        <td><input placeholder="<%= toy.quantity %>" /></td>
                        <td>
                            <button
                                style="color: #fff; background-color: burlywood"
                                onclick='updateToy("<%= toy._id %>")'
                            >
                                Update
                            </button>
                        </td>
                        <td>
                            <button
                                style="color: #fff; background-color: indianred"
                                onclick='deleteToy("<%= toy._id %>")'
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                    <% }); %> <% } %>
                    <tr>
                        <td></td>
                        <td><input placeholder="Enter new name" /></td>
                        <td>
                            <input
                                placeholder="Enter new price"
                                type="number"
                                step="any"
                            />
                        </td>
                        <td>
                            <input
                                placeholder="Enter new quantity"
                                type="number"
                            />
                        </td>
                        <td>
                            <button
                                style="
                                    color: #fff;
                                    background-color: mediumseagreen;
                                "
                                onclick="insertToy()"
                            >
                                Insert
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        async function updateToy(id) {
            const allToys = JSON.parse(
                "<%= JSON.stringify(toys) %>".replaceAll("&#34;", '"')
            );
            const idx = allToys.findIndex((toy) => toy._id === id);
            const inputs = document.querySelectorAll("input");

            const resp = await fetch(
                `${
                    "<%= env %>"
                        ? "https://apptoy.herokuapp.com/"
                        : "http://localhost:3000/"
                }api/toys/${id}`,
                {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: inputs[idx + 1].value || allToys[idx].name,
                        price: inputs[idx + 2].value || allToys[idx].price,
                        quantity:
                            inputs[idx + 3].value || allToys[idx].quantity,
                    }),
                }
            );

            location.reload();
        }

        async function deleteToy(id) {
            const resp = await fetch(
                `${
                    "<%= env %>"
                        ? "https://apptoy.herokuapp.com/"
                        : "http://localhost:3000/"
                }api/toys/${id}`,
                {
                    method: "DELETE",
                }
            );

            location.reload();
        }

        async function insertToy() {
            const inputs = document.querySelectorAll("input");

            const resp = await fetch(
                `${
                    "<%= env %>"
                        ? "https://apptoy.herokuapp.com/"
                        : "http://localhost:3000/"
                }api/toys`,
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: inputs[inputs.length - 3].value,
                        price: inputs[inputs.length - 2].value,
                        quantity: inputs[inputs.length - 1].value,
                    }),
                }
            );

            location.reload();
        }
    </script>
</html>
